form{
  display: flex;
  flex-direction: column;
}

.add {
  background-color: green;
  color: #fff;
}

.imgContainer{
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
}

img{
  width: 80px;
  height: 80px;
}
