<form [formGroup]="getHeroeForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="imgContainer" *ngIf="getFormImage()">
    <img mat-card-image [src]="getFormImage()" alt="Photo of Heroe" />
  </div>
  <mat-form-field appearance="fill">
    <mat-label>{{'heroe_name' | translate}}</mat-label>
    <input matInput formControlName="heroeName" id="heroeName" name="heroeName" type="text" appUppercase />
    <mat-error
      *ngIf="getControl.heroeName.touched && getControl.heroeName.invalid"
    >
      <mat-error *ngIf="getControl.heroeName.hasError('minlength') && !getControl.heroeName.hasError('required')">
        Please enter a name > 3 length
      </mat-error>
      <mat-error *ngIf="getControl.heroeName.hasError('required')">
        Heroe Name is <strong>required</strong>
      </mat-error>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'heroe_description' | translate}}</mat-label>
    <input matInput formControlName="heroeDescription" />
    <mat-error
      *ngIf="
        getControl.heroeDescription.touched &&
        getControl.heroeDescription.invalid
      "
    >
      <mat-error *ngIf="getControl.heroeDescription.hasError('minlength')">
        Please enter a description > 3 length
      </mat-error>
      <mat-error *ngIf="getControl.heroeDescription.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'url_heroe_image' | translate}}</mat-label>
    <input
      matInput
      formControlName="heroeImage"
      type="url"
      placeholder="https://example.com"
    />
    <mat-error
      *ngIf="getControl.heroeImage.touched && getControl.heroeImage.invalid"
    >
      <mat-error *ngIf="getControl.heroeImage.hasError('minlength')">
        Please enter an url > 1 lenght
      </mat-error>
      <mat-error *ngIf="getControl.heroeImage.hasError('required')">
        Image is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="getControl.heroeImage.hasError('pattern')">
        URL <strong>malformed</strong>
      </mat-error>
    </mat-error>
  </mat-form-field>
  <button class="add" mat-raised-button [disabled]="formInvalid()">
    <mat-icon> save </mat-icon>
    {{'submit' | translate}}
  </button>
</form>
<ngx-spinner></ngx-spinner>